<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contactsView" class="container-fluid">
    <div class="row">

        <div class="video-container">
            <div class="row">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" th:src="@{https://www.youtube.com/embed/D0z1CFG7jX8}"
                            src="https://www.youtube.com/embed/D0z1CFG7jX8" frameborder="0"
                            alt="no video attached" allowfullscreen="1"></iframe>
                </div>
            </div>
        </div>

        <article class="row intro-article">
            <div th:utext="#{contacts.article}" class="content-intro-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-justify">
                <p>Футбольный клуб "Респект" приглашает всех желающих на просмотр в свой состав.</p>
                <p>Открыт набор на все позиции.</p>
                <p>Наша команда играет в высшем дивизионе любительской <b>Weekend Super League (WSL)</b> и ставит перед собой только самые высокие задачи.</p>
                <p>Мы проводим 2 тренеровки в неделю и у нас полностью налажен подготовительный процесс. Команда работает с професиональным тренером, в недавнем прошлом игроком Украинской Премьер-Лиги, который присутствует на всех занятиях и играх.</p>
                <p>Если вы любите футбол и чувствуете в себе силы, чтобы играть на любительском уровне, тогда добро пожаловать к нам.</p>
                <p>Для того, чтобы записаться на просмотр, звоните по телефонам указаным ниже, либо заполните форму для обратной связи и мы с вами свяжемся.</p>
            </div>
        </article>
        <hr/>
        <article class="row contacts-article">
            <div class="content-request-container col-lg-8 col-md-8 col-sm-8">
                <h2 th:text="#{contacts.title.feedback}">Feedback</h2>
                <form action="#" th:action="@{/contacts/form-process}" th:object="${feedback}" method="post"
                      role="form" id="contactForm">

                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-6">
                            <label th:text="#{contacts.name}" for="name" class="h4">Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name"
                                   th:placeholder="#{contacts.placeholder.name}" placeholder="Enter name" required="required"/>
                            <div id="nameError" class="h3 alert alert-danger hidden">Name is wrong</div>
                        </div>

                        <div class="form-group col-lg-4 col-md-6 col-sm-6">
                            <label th:text="#{contacts.phone}" for="phone" class="h4">Phone</label>
                            <div class="form-inline">
                                <label>+380</label>
                                <input type="text" th:field="*{phone}" class="form-control" id="phone"
                                       th:placeholder="#{contacts.placeholder.phone}" placeholder="Enter phone" required="required"/>
                                <div id="phoneError" class="h3 alert alert-danger hidden">Phone is wrong</div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-6">
                            <label th:text="#{contacts.email}" for="email" class="h4">Email</label>
                            <input type="email" th:field="*{email}" class="form-control" id="email"
                                   th:placeholder="#{contacts.placeholder.email}" placeholder="Enter email" required="required"/>
                            <div id="emailError" class="h3 alert alert-danger hidden">Email is wrong</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{contacts.message}" for="message" class="h4 ">Message</label>
                        <textarea id="message"  th:field="*{message}" class="form-control" rows="5"
                                  th:placeholder="#{contacts.placeholder.message}" placeholder="Enter your message" required="required"></textarea>
                        <div id="messagelError" class="h3 alert alert-danger hidden">Message is wrong</div>
                    </div>
                    <button th:text="#{contacts.title.button}" type="button" id="form-submit" class="btn btn-danger btn-lg pull-left">Submit</button>
                </form>
            </div>
            <div class="contacts-container col-lg-4 col-md-4 col-sm-4">
                <h2 th:text="#{contacts.tittle.contacts}">Contacts</h2>
                <div class="col-lg-12 col-md-12 text-center">
                    <ul class="socialIcons">
                        <li><a target="_blank" class="facebook"
                               href="https://www.facebook.com/groups/1208695252575601/"><i
                                class="fa fa-facebook"></i></a></li>
                        <!--<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>-->
                        <!--<li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>-->
                        <li><a target="_blank" class="youtube"
                               href="https://www.youtube.com/channel/UCmdtFC7MTHrLedXX1krmfrw"><i
                                class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center">
                        <ul class="phones">
                            <li><span th:text="#{contacts.tel.pavel}" title="Київстар" class="mobo-kyivstar-36">&nbsp;067 34 36 450  (Павел)</span></li>
                            <li><span th:text="#{contacts.tel.bogdan}" title="Київстар" class="mobo-kyivstar-36">&nbsp;067 224 57 58  (Богдан)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        <!--Modal-->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             id="myModal">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 th:text="#{contacts.title.modal}" class="modal-title">Message was send</h4>
                    </div>
                    <div class="modal-body">
                        <p th:text="#{contacts.modal.message}">Your message was send to FC Respect administration. We will contact you soon.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>