<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="newsView" class="container news">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <a href="#" th:href="@{/news/create}">Create player</a>
        </div>
        <div class="col-lg-10 col-md-10 grid">
            <div th:each="currentNews: ${news}" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 thumbnail">
                <a href="#" th:href="@{'/news/' + ${currentNews.id}}" class="thumbnail">
                    <img class="news-imgs" th:src="'http://localhost/files/news/'+ ${currentNews.imageName}"
                         src="http://localhost/files/news/default.png"
                         alt="news"/>
                </a>
            </div>

        </div>

    </div>
</div>
</html>