<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="playerDetailsView">
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-center" th:text="${player.fullName}">Player Name</h1>
                </div>
            </div>
            <div class="col-md-6">
                <a href="#" class="thumbnail">
                    <img class="players-imgs" th:src="@{'/assets/players/'+ ${player.imageName}}"
                         src="../../static/assets/lionel-messi.jpg"
                         alt="player"/>
                </a>
            </div>

            <div class="col-md-6">
                <ul>
                    <li><h2>Position</h2> <span th:text="${player.position.value}">Player position must be here</span>
                    </li>
                </ul>
                <ul>
                    <li><h2>Birthday</h2> <span th:text="${#temporals.format(player.birthday, 'dd MM yyyy')}">Player birthday must be here</span>
                    </li>
                </ul>
                <ul>
                    <li><h2>Height</h2> <span th:text="${player.height}">Player height must be here</span>
                    </li>
                </ul>
                <ul>
                    <li><h2>Born</h2> <span th:text="${player.birthPlace}">Player birthPlace must be here</span>
                    </li>
                </ul>

                <hr/>
                <div>
                    <i><h2 class="text-center">About player</h2></i>
                    <p class="text-justify" th:text="${player.about}">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Adipisci autem et labore magni reprehenderit voluptates, voluptatibus?
                        Incidunt, perferendis, qui! Blanditiis cupiditate dolores eum exercitationem hic optio quae quo
                        quos suscipit!</p>
                </div>

                <hr/>
                <div>
                    <i><h2 class="text-center">Statistic</h2></i>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>In club since</th>
                            <th>Games</th>
                            <th>Goals</th>
                            <th>Assists</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="danger">
                            <td th:text="${#temporals.format(player.statistic.inClub, 'dd/MM/yyyy')}">Year since
                                player in club
                            </td>
                            <td th:text="${player.statistic.games}">Games played</td>
                            <td th:text="${player.statistic.goals}">Goals scored</td>
                            <td th:text="${player.statistic.assists}">Assists made</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>