<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer class="footer" th:fragment="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 copy text-center">
                <h4 th:text="#{footer.copy}">© Copyright</h4>
            </div>

            <div class="col-lg-8 col-md-2 sponsors text-center">
                <h2>Place for sponsors</h2>
            </div>

            <div class="col-lg-2 col-md-2 site-map text-center">
                <h3 th:text="#{title.site.map}">Site map</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <a th:text="#{title.home}" th:href="@{/}" href="../home.html">Home</a>
                        <a th:text="#{title.news}" href="#news">News</a>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <a th:text="#{title.team}" th:href="@{/team}" href="team.html">Team</a>
                        <a th:text="#{title.club}" href="#club">Club</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>