<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/css/bootstrap.css}"
          href="../../static/libs/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/myStyles/style.css}" href="../../static/myStyles/style.css"/>
    <script th:src="@{/libs/js/jquery-3.2.1.min.js}" src="../../static/libs/js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/libs/js/bootstrap.min.js}" src="../../static/libs/js/bootstrap.min.js"></script>
    <title>FC Respect</title>
</head>
<body>
<header id="container" th:fragment="header">
    <!-- Классы navbar и navbar-default (базовые классы меню) -->
    <nav class="navbar navbar-default">
        <!-- Контейнер (определяет ширину Navbar) -->
        <div class="container-fluid">
            <!-- Заголовок -->
            <div class="navbar-header">
                <!-- Бренд или название сайта (отображается в левой части меню) -->
                <a class="navbar-brand" href="#home">Home</a>
            </div>
            <!-- Основная часть меню (может содержать ссылки, формы и другие элементы) -->
            <div class="collapse navbar-collapse" id="navbar-main">
                <!-- Содержимое основной части -->
                <ul class="nav navbar-nav">
                    <li><a href="#news">News</a></li>
                    <li><a th:href="@{/team}" href="team.html">Team</a></li>
                    <li><a href="#club">Club</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:each="localeCode : ${localeCodes}"><a th:href="@{/(lang=${localeCode})}"
                                                                 href="../static/assets/flags/en.png">
                        <img th:src="@{'/assets/flags/' + ${localeCode} + '.png'}" src="../static/assets/flags/en.png"
                             title="English" th:title="#{'lang.' + ${localeCode}}"/>
                    </a></li>
                    <li><a href="#login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="page-header text-center">
            <h2 th:utext="#{home.welcome}">FC Respect site is welcome you!!!</h2>
            <p>Today is <span th:text="${#calendars.format(today, 'dd MM yyyy')}">06 10 2017</span></p>
        </div>
    </div>
    <div class="jumbotron">
        <a href="#home">
            <img th:src="@{/assets/logo.jpg}" src="../static/assets/logo.jpg" id="logo"/>
        </a>
    </div>
</header>
</body>
</html>