<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/css/bootstrap.css}"
          href="../../static/libs/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/myStyles/style.css}" href="../../static/myStyles/style.css"/>
    <script th:src="@{/libs/js/jquery-3.2.1.min.js}" src="../../static/libs/js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/libs/js/bootstrap.min.js}" src="../../static/libs/js/bootstrap.min.js"></script>
    <title>FC Respect</title>
</head>
</html>