<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" th:with="localeCodes = ${ {'en', 'ru', 'ua'} }">
    <!-- Классы navbar и navbar-default (базовые классы меню) -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- Контейнер (определяет ширину Navbar) -->
        <div class="container-fluid">
            <!-- Заголовок -->
            <div class="navbar-header">
                <!-- Бренд или название сайта (отображается в левой части меню) -->
                <a class="navbar-brand" th:text="#{title.home}" th:href="@{/}" href="../home.html">Home</a>
            </div>
            <!-- Основная часть меню (может содержать ссылки, формы и другие элементы) -->
            <div class="collapse navbar-collapse" id="navbar-main">
                <!-- Содержимое основной части -->
                <ul class="nav navbar-nav">
                    <li><a th:text="#{title.news}" th:href="@{/news}" href="../views/newsView.html">News</a></li>
                    <li><a th:text="#{title.team}" th:href="@{/team}" href="../views/teamView.html">Team</a></li>
                    <li><a th:text="#{title.history}" th:href="@{/history}" href="../views/historyView.html">History</a></li>
                    <li><a th:text="#{title.honours}" th:href="@{/honours}" href="../views/honoursView.html">Honours</a></li>
                    <li><a th:text="#{title.contacts}" th:href="@{/contacts}" href="../views/contactsView.html">Contacts</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--'' - current url-->
                    <li th:each="localeCode : ${localeCodes}"><a th:href="@{''(lang=${localeCode})}"
                                                                 href="../static/assets/flags/en.png">
                        <img th:src="@{'http://localhost/files/flags/' + ${localeCode} + '.png'}" src="http://localhost/files/flags/en.png"
                             title="English" th:title="#{'lang.' + ${localeCode}}"/>
                    </a></li>
                    <li><a href="#login" th:text="#{title.login}">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Заставка -->
    <div class="splash">
        <div class="container">
            <div class="text-center">
                <h2 th:utext="#{home.welcome}">FC Respect site is welcome you!!!</h2>
            </div>
        </div>
    </div>
</header>
</html>