<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>FC Respect</title>
</head>
<body>
<h1>FC Respect site is welcome you</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa delectus deleniti eaque eos facilis itaque labore minus modi optio quaerat quas sapiente soluta, tempore totam, ut veritatis voluptas voluptate?</p>
<img th:src="@{/assets/players/1.jpg}"/>
</body>
</html>