<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FC Respect</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1>FC Respect site is welcome you</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa delectus deleniti eaque eos facilis itaque labore minus modi optio quaerat quas sapiente soluta, tempore totam, ut veritatis voluptas voluptate?</p>
<img th:src="@{/assets/lionel-messi.jpg}"/>
</body>
</html>