/*ClearFix for player images*/
@media (min-width: 1200px) {
    .grid .col-lg-4:nth-child(0n+4) {
        clear: both;
    }
}
@media (min-width: 1024px) and (max-width: 1200px) {
    .grid .col-md-4:nth-child(0n+4) {
        clear: both;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .grid .col-sm-6:nth-child(0n+11) {
        clear: both;
    }
}

/* Отступ сверху для содержимого body (высота navbar = 50px)*/
body
{
    padding-top: 50px;
}

/* navbar */
.navbar-default {
    background-color: #e31b23;
    border-color: #c0392b;;
}
/* Title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffbbbc;
    border-bottom-color: #ffbbbc;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #e31b23;
    border-bottom-color: #e31b23;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffbbbc;
    border-bottom-color: #ffbbbc;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
}



/* Заставка */
.splash {
    /* Отступ для содержимого, помещенного в splash */
    padding:9em 0 2em;
    /* Картинка, которая используются для splash */
    background-image:url(../assets/logo.jpg);
    /* Масштабируем картинку с сохранением пропорций */
    background-size:cover;
    /* Запрещаем фоновому изображению прокручиваться, т.е. делаем его неподвижным */
    background-attachment:fixed;
    /* Крепим изображение к верхней части экрана */
    /*position:fixed;*/
    /* Цвет текста */
    color:#fff;
    /* Выравниваем текста внутри splash по центру */
    text-align:center;
    /*Ширина картинки - на весь экран*/
    width: 100%;
}
/*footer*/
footer {
    background: #e31b23;
    color: #fff;
    font-size: 11px;
}

footer .container-fluid {
    height: 120px;
    padding: 10px 0;
}

footer .container-fluid h3 {
    border-bottom: 1px solid #fff;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    text-transform: uppercase;
}

footer .container-fluid h4 {
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-family: "Baskerville Old Face";
    margin: 30px 0 10px;
}

footer .container-fluid .site-map a {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
    color: #fff;
}